# PLACEHOLDER XXX XXXX PLACEHOLDE
# JUST ADD AFTER YOUR CADDY FILES FOLLOWED CODE

portainer.YOURSUBDOMAIN.YOURDOMAIN.XXX {
	reverse_proxy 10.21.21.2:9000 {
		header_up X-Forwarded-Host "portainer.YOURSUBDOMAIN.YOURDOMAIN.XXX"
	}
}
